<div class="sidebar sidebar-hover-toggle">
    <nav class="sidebar-nav">
        <ul class="nav" *ngIf="appConfigItems">
            <li class="nav-item nav-dropdown" *ngFor="let config of appConfigItems.leftNavItems" routerLinkActive="open">
                <a *ngIf="!config.children" class="nav-link" routerLinkActive="active" [routerLink]=config.navUrl [title]="config.navText"><i class={{config.imgStyle}}></i> {{config.navText}} </a>
                <a *ngIf="config.children" class="nav-link nav-dropdown-toggle"  [title]="config.navText"><i class={{config.imgStyle}}></i> {{config.navText}}</a>
                <ul class="nav-dropdown-items" *ngIf="config.children">
                    <li class="nav-item" *ngFor="let childConfig of config.children">
                        <a class="nav-link" routerLinkActive="active" [routerLink]=childConfig.navUrl [title]="config.navText"><i class={{childConfig.imgStyle}}></i> {{childConfig.navText}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
