<h4>Dispatch</h4>
<div class="animated fadeIn">
    <div class="card">
        <div class="card-block">
            <div class="row">
                <div class="chart-wrapper">
                    <ngx-barcode style="text-align:center" *ngFor="let bcValue of values" [bc-element-type]="elementType" [bc-value]="bcValue"
                        [bc-format]="format" [bc-line-color]="lineColor" [bc-width]="width" [bc-height]="height" [bc-display-value]="displayValue"
                        [bc-font-options]="fontOptions" [bc-font]="font" [bc-text-align]="textAlign" [bc-text-position]="textPosition"
                        [bc-text-margin]="textMargin" [bc-font-size]="fontSize" [bc-background]="background" [bc-margin]="margin"
                        [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight"></ngx-barcode>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="animated fadeIn">
    <div class="card">
        <div class="card-block">
            <div class="row clearfix">
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">From Store</span>
                        <input type="text" class="form-control" aria-describedby="sizing-addon2">
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">Dc No</span>
                        <input type="text" class="form-control" aria-describedby="sizing-addon2">
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">Dc Date</span>
                        <input type="date" class="form-control" aria-describedby="sizing-addon2">
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">To store</button>
                        </span>
                        <input type="text" class="form-control" aria-describedby="sizing-addon2">
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button"># I No</button>
                        </span>
                        <input type="text" class="form-control" aria-describedby="sizing-addon2">
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button"># Style</button>
                        </span>
                        <input type="text" class="form-control" aria-describedby="sizing-addon2">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">Invoice No</span>
                        <input type="text" class="form-control" aria-describedby="sizing-addon2">
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-2">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">Mode</span>
                        <select name="status" class="form-control" aria-describedby="sizing-addon2" id="statusList">
                                <option>Item1</option>
                                <option>Item2</option>
                                </select>
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-2">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">System</span>
                        <select name="status" class="form-control" aria-describedby="sizing-addon2" id="statusList">
                                <option>Item1</option>
                                <option>Item2</option>
                                </select>
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-2">
                    <button class="form-control btn-primary">List</button>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-2 float-right">
                    <button class="form-control btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="animated fadeIn">
    <div class="card">
        <div class="card-block">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default table-responsive">
                        <table class="table table-striped emp-table">
                            <thead>
                                <tr>
                                    <th style="width: 30%">ShipNo</th>
                                    <th style="width: 30%">ShipDate</th>
                                    <th style="width: 30%">DestCode</th>
                                    <th style="width: 20%">ProQty</th>
                                    <th style="width: 25%">ProBalQty</th>
                                    <th style="width: 10%">Qty</th>
                                    <th style="width: 20%">OrderQty</th>
                                    <th style="width: 30%">OrderBalQty</th>
                                    <th style="width: 30%">Balance</th>
                                    <th style="width: 30%">Quantity</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="animated fadeIn">
    <div class="card">
        <div class="card-block">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default table-responsive">
                        <table class="table table-striped emp-table">
                            <thead>
                                <tr>
                                    <th style="width: 40%">Item</th>
                                    <th style="width: 35%">Color</th>
                                    <th style="width: 20%">Size</th>
                                    <th style="width: 20%">TransQty</th>
                                    <th style="width: 20%">ProQty</th>
                                    <th style="width: 25%">Quantity</th>
                                    <th style="width: 25%">OrderQty</th>
                                    <th style="width: 30%">OrderBalQty</th>
                                    <th style="width: 30%">ProBalQty</th>
                                    <th style="width: 25%">DespQty</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="animated fadeIn">
    <div class="card">
        <div class="card-block">
            <div class="row clearfix">
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">Remark</span>
                        <input type="text" class="form-control" aria-describedby="sizing-addon2">
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">Total</span>
                        <input type="text" class="form-control" aria-describedby="sizing-addon2">
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-2">
                    <div class="input-group">
                        <input type="text" class="form-control" aria-describedby="sizing-addon2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>