<h4>Stores Delivery</h4>
<div class="animated fadeIn">
    <div class="card">
        <div class="card-block">
            <div class="row">
                <div class="chart-wrapper">
                    <ngx-barcode style="text-align:center" [bc-value]="value" [bc-display-value]="true" ></ngx-barcode>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="animated fadeIn">
    <div class="card">
        <div class="card-block">
            <div class="row clearfix">
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">From Store</span>
                        <input type="text" class="form-control" aria-describedby="sizing-addon2">
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">Dc No</span>
                        <input type="text" class="form-control" aria-describedby="sizing-addon2">
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">Dc Date</span>
                        <input type="date" class="form-control" aria-describedby="sizing-addon2">
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">To store</button>
                        </span>
                        <input type="text" class="form-control" aria-describedby="sizing-addon2">
                    </div>
                </div> 
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">I.No</span>
                        <input type="text" class="form-control" aria-describedby="sizing-addon2">
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">Style</span>
                        <input type="text" class="form-control" aria-describedby="sizing-addon2">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">Bar Code</span>
                        <input type="text" class="form-control" aria-describedby="sizing-addon2">
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-5">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Process List</button>
                        </span>
                        <select name="status" class="form-control" aria-describedby="sizing-addon2" id="statusList">
                                <option>Item1</option>
                                <option>Item2</option>
                                </select>
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-2 float-right">
                    <button class="form-control btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="animated fadeIn">
    <div class="card">
        <div class="card-block">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default table-responsive">
                        <table class="table table-striped emp-table">
                            <thead>
                                <tr>
                                    <th style="width: 30%">WorkOrder</th>
                                    <th style="width: 50%">Item</th>
                                    <th style="width: 40%">Color</th>
                                    <th style="width: 30%">Size</th>
                                    <th style="width: 25%">BunNo</th>
                                    <th style="width: 25%">Quantity</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="animated fadeIn">
    <div class="card">
        <div class="card-block">
            <div class="row clearfix">
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-2 float-right">
                    <div class="input-group">
                        <input type="text" class="form-control" aria-describedby="sizing-addon2">
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-4 float-right">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">Total</span>
                        <input type="text" class="form-control" aria-describedby="sizing-addon2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>